@model CDP_Project.Models.Plantio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plantio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPlantio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPlantio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chuva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chuva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPlantio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPlantio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cultura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cultura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoPlantio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoPlantio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UmidadePlantio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UmidadePlantio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSemente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSemente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdSementes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdSementes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistSementes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistSementes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adubacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adubacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPlantio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
