@model IEnumerable<CDP.Models.Safra>

@{
    ViewData["Title"] = "Safra";
}

<h1>Index</h1>

<div class="container-fluid px-4">
    <div class="row border-bottom mt-2 md-4">
        <div class="col-lg-10 col-sm-6">
            <h2 class="" style="font-weight:bolder"><i class="bi bi-people"></i>@ViewData["Title"]</h2>
        </div>
        <div class="col-sm-6 col-md-2">
            <a asp-action="Create" class="btn btn-primary">
                Nova Safra
            </a>
        </div>
    </div>
    <table class="mt-4 table table-hover">
        <thead class="table-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TalhaoId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TalhaoId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
