@model IEnumerable<CDP.Models.Talhoes>

@{
    ViewData["Title"] = "Talhões";
}

<div class="container-fluid px-4">
    <div class="row border-bottom mt-2 md-4">
        <div class="col-lg-10 col-sm-6">
            <h2 class="" style="font-weight:bolder"><i class="bi bi-columns-gap"></i>@ViewData["Title"]</h2>
        </div>
        <div class="col-sm-6 col-md-2">
            <a asp-action="Create" class="btn btn-primary">
                Novo Talhão
            </a>
        </div>
    </div>
    <table class="mt-4 table table-hover">
        <thead class="table-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Localizacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoSolo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fazenda)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Localizacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoSolo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fazenda.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="btn bi bi-pencil-square"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="btn bi bi-card-text"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="btn bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}