@model IEnumerable<CDP.Models.Semente>

@{
    ViewData["Title"] = "Semente";
}

<div class="container-fluid px-4">
    <div class="row border-bottom mt-2 md-4">
        <div class="col-lg-10 col-sm-6">
            <h2 class="" style="font-weight:bolder">@ViewData["Title"]</h2>
        </div>
        <div class="col-sm-6 col-md-2">
            <a asp-action="Create" class="btn btn-primary">
                Nova Semente
            </a>
        </div>
    </div>

    <table class="mt-4 table table-hover">
        <thead class="table-primary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cultura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HabitoCrescimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Altura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Floracao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resistencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GrupoMaturacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConsumoSementes)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cultura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HabitoCrescimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Altura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Floracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resistencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GrupoMaturacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsumoSementes)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="btn bi bi-pencil-square"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="btn bi bi-card-text"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="btn bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}